/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Wallet Adapter UI styles */
@import '@solana/wallet-adapter-react-ui/styles.css';

/* Custom wallet adapter button styles */
.wallet-adapter-button {
  background-color: #0052FF !important; /* coinbase-blue */
}

.wallet-adapter-button:hover {
  background-color: #002E99 !important; /* coinbase-darkBlue */
}

.wallet-adapter-button:not([disabled]):hover {
  background-color: #002E99 !important; /* coinbase-darkBlue */
}
